# .NET specific
*.vshost.exe
*.user
*.suo
*.pdb
*.tmp
*.log
bin/
obj/
packages/
*.secrets.json

# IDE specific (Visual Studio Code)
.vscode/
*.code-workspace

# Other possible additions
*.DS_Store # macOS specific